@tailwind base;
@tailwind components;
@tailwind utilities;

.ticTab {
  height: 51rem;
}

* {
  max-height: 100vh;
}

.fontUp {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
